.content-wrapper {
  width: 100%;
  min-height: 100vh;
  margin-left: 256px;
  position: relative;
}

.maze-legend {
  border-radius: 12px;
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;

  @media (max-width: 990px) {
    display: none !important;
  }
}



.cell {
  width: 28px;
  height: 28px;
}
