<div class="d-flex align-items-center">
  <img
    src="assets/ai-icon.png"
    alt="Image from a technological brain representing the project logo"
    class="mr-4 ai-icon"
  />
  <h1>
    <span class="text-blue">MAZE</span> <br />
    <span class="text-white">A.I</span>
  </h1>
</div>

<hr />

<span
  class="d-flex align-items-center justify-content-between bg-grey-3 algo-title"
  (click)="algorithmListExpanded = !algorithmListExpanded"
>
  <div class="d-flex align-items-center">
    <img src="assets/algorithm.png" class="mr-3 algo-icon" />
    <p class="text-white">Algorithm</p>
  </div>
  <img src="assets/arrow.png" class="arrow-icon" [class.closed]="!algorithmListExpanded" />
</span>

<ul
  class="algo-list mt-3"
  [class.hide]="!algorithmListExpanded"
  [attr.aria-expanded]="algorithmListExpanded"
>
  @for (option of algorithmList; track $index) {
    <li
      class="text-white list-item"
      [ngClass]="{ 'bg-grey-3 selected': option === selectedAlgorithm() }"
      (click)="selectAlgorithm(option)"
    >
      {{ option }}
    </li>
  }
</ul>

<hr />

<span class="text-white text-center w-100 d-block">Turn cell on click:</span>

@for (option of turnCellIntoOptions; track $index) {
  <div class="my-3 pl-2 d-flex align-items-center">
    <input
      type="radio"
      name="turnCellOption"
      class="mr-3 mt-0"
      [checked]="option.value === 2"
      (change)="selectTurnCellInto(option.value)"
    />
    <span class="text-white">{{ option.label }}</span>
  </div>
}

<hr />

<button class="btn-secondary mb-2" (click)="clearWalls()">Clear Walls</button>
<button class="btn-secondary mb-2" (click)="clearPath()">Clear Path</button>
<button class="btn-secondary" (click)="clearAll()">Clear ALL</button>

<hr />

<button class="btn-primary" (click)="runSearchAlgorithm()">Run</button>
